:root {
  --ge-background-color: #000000;
}

button {
  border: 0;
  border-radius: calc(var(--ge-unit-size) * 4);
  background: linear-gradient(to bottom right, #2020b0, #4040d0);
  color: #c0c0f0;
}
button:hover {
  background: linear-gradient(to bottom right, #3030d0, #5050f0);
  color: #e0e0ff;
  cursor: pointer;
}
button:disabled {
  background: linear-gradient(to bottom right, #101010, #202020);
  color: #606060;
}

.background-component {
  background-position: right top;
  background-repeat: no-repeat;
  background-size: contain;
}

.grid-item {
  --ge-component-border-color: #606060;
  background: linear-gradient(to bottom right, #404040, #101010);
}

.scene-start-screen {
  & .grid-item {
    background: none;
    background-color: oklch(32.208% 0.06034 78.284);
    padding: 0;
    border: none;
  }
}

.menu-component {
  & button {
    border-radius: calc(var(--ge-unit-size) * 8);
  }
}

.input-bar-component {
  & .input-cell {
    padding: calc(var(--ge-unit-size) * 2);
    & button {
      border-radius: calc(var(--ge-unit-size) * 3);
    }
  }
}
