@import './reset.css';
@import './variables.css';

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-size: var(--ge-font-size);
  font-family: var(--ge-font-family);
  color: var(--ge-font-color);
  background-color: var(--ge-background-color);
}

#root {
  width: 100%;
  height: 100%;
}

.grid-screen {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(var(--ge-grid-width), 1fr);
  grid-template-rows: repeat(var(--ge-grid-height), 1fr);
}

.grid-item {
  --border-width: calc(var(--ge-grid-item-border-width) * var(--ge-unit-size));
  --padding-size: calc(
    var(--ge-grid-item-border-padding) * var(--ge-unit-size)
  );
  --margin-size: calc(var(--ge-grid-item-border-margin) * var(--ge-unit-size));
  --border-radius: calc(var(--border-width) + var(--padding-size));
  --ge-grid-item-outer-width: calc(
    100vw / var(--ge-grid-width) * var(--ge-grid-item-width)
  );
  --ge-grid-item-outer-height: calc(
    100vh / var(--ge-grid-height) * var(--ge-grid-item-height)
  );
  --ge-grid-item-client-width: calc(
    var(--ge-grid-item-outer-width) - 2 * var(--padding-size) - 2 *
      var(--border-width) - 2 * var(--margin-size)
  );
  --ge-grid-item-client-height: calc(
    var(--ge-grid-item-outer-height) - 2 * var(--padding-size) - 2 *
      var(--border-width) - 2 * var(--margin-size)
  );

  grid-column: var(--ge-grid-item-x) / span var(--ge-grid-item-width);
  grid-row: var(--ge-grid-item-y) / span var(--ge-grid-item-height);
  display: grid;
  border-style: solid;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  border-color: var(--ge-component-border-color);
  padding: var(--padding-size);
  margin: var(--margin-size);
}

.background-component {
  width: 100%;
  height: 100%;
  background-image: var(--ge-background-image);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.menu-component {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  height: 100%;

  & button {
    flex: 1;
    cursor: pointer;
    font-size: 125%;
  }
}

.squares-map-component {
  --max-tile-width: calc(
    var(--ge-grid-item-client-width) / var(--ge-squares-map-viewport-width)
  );
  --max-tile-height: calc(
    var(--ge-grid-item-client-height) / var(--ge-squares-map-viewport-height)
  );
  --tile-outer-size: min(var(--max-tile-width), var(--max-tile-height));
  --tile-spacing: calc(var(--ge-unit-size) * 2);
  --tile-inner-size: calc(var(--tile-outer-size) - 2 * var(--tile-spacing));
  --viewport-width: calc(
    var(--tile-outer-size) * var(--ge-squares-map-viewport-width)
  );
  --viewport-height: calc(
    var(--tile-outer-size) * var(--ge-squares-map-viewport-height)
  );

  width: var(--ge-grid-item-client-width);
  height: var(--ge-grid-item-client-height);
  display: grid;
  place-items: center;

  & .viewport {
    position: relative;
    overflow: hidden;
    width: var(--viewport-width);
    height: var(--viewport-height);
    margin: auto auto auto auto;

    & .area {
      position: absolute;
      display: grid;
      grid-template-columns: repeat(var(--ge-map-width), 1fr);
      grid-template-rows: repeat(var(--ge-map-height), 1fr);
      width: calc(var(--ge-map-width) * var(--tile-outer-size));
      height: calc(var(--ge-map-height) * var(--tile-outer-size));
      left: calc(var(--ge-map-position-x) * var(--tile-outer-size) * -1);
      top: calc(var(--ge-map-position-y) * var(--tile-outer-size) * -1);

      & > div {
        width: var(--tile-inner-size);
        height: var(--tile-inner-size);
        margin: var(--tile-spacing);
        position: relative;
        border-radius: calc(var(--tile-inner-size) * 0.2);
        background-color: var(--ge-map-tile-color);

        & img {
          position: absolute;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

.input-bar-component {
  width: 100%;
  height: 100%;
  display: grid;
  /* TODO: Make dynamic using variables */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);

  & .input-cell {
    display: grid;
    width: 100%;
    height: 100%;
  }
}
