body {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    font-family: arial;
}

#root {
    display: grid;
    grid-template-columns: 300px 1fr;
    min-height: 100%;
    width: 100%;
}

aside.side-bar {
    border-right: solid 1px black;
    overflow: auto;
    line-height: 110%;
}

.main {
    display: grid;
    grid-template-rows: auto 1fr;
    min-width: 0;
    overflow: hidden;
    background-color: yellow;
}

header.content-bar {
    height: 55px;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: cadetblue;
}

main.content {
    height: 100%;
    overflow: auto;
    background-color: chocolate;
}

.side-bar .children {
    padding-left: 22px;
}

.side-bar label {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

/*
.side-bar svg {
    display: inline-block;
} */